@import 'variables';

body, html {
  font-family: $font-family-base;
  background-color: $light;
  // background-image: linear-gradient(to bottom, $color-start, #fff, $color-end);
  color: $dark;
  margin: 0;
}

.hr-grey {
  border-color: $grey;
  border-top-width: 2px;
  border-style: solid;
}

i {
  cursor: pointer;
  font-size: 1em;
  color: $red;
}