$primary-color: #007bff;
$dark: #343a40; 
$light: #f8f9fa; 
$white: #fff;
$grey: #bdbaba;
$red:#ff0000;
$shadow-color: rgba(0, 0, 0, 0.1);
$color-start: #b5c6ee;
$color-end: #ffffff; 

// Typography
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.75rem;

// Spacing
$spacing-base: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 3rem;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;