body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}


.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  /* Adjust based on your needs */
  width: 80vw;
  /* Adjust based on your needs */
  margin: 0 auto;
}

.carousel .slide {
  height: 400px;
  /* Ensure this matches the fixed height of the images */
  display: flex;
  justify-content: center;
  align-items: center;
}

.userProfileContainer .carousel-root {
  max-width: 40%;
  /* Ensures carousel doesn't exceed container's width */
  max-height: 100%;
  /* Adjust carousel height as needed */
}